{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="delete-container">
    <div class="delete-box">
        <h2>Delete Image</h2>
        <p class="delete-message">Are you sure you want to delete this image?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="button btn btn-outline-dark">Delete</button>
        </form>
        <a href="{% url 'gallery' %}" class="mx-3 my-2 button btn btn-outline-dark">Back</a>
    </div>
</div>

<style>
    .delete-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Ensures the content is centered vertically */
        padding-top: 50px; /* Space from the top */
        padding-bottom: 50px; /* Space from the bottom */
    }

    .delete-box {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .delete-message {
        font-size: 18px;
        color: #333;
        margin-bottom: 20px;
    }

    .button {
        border-radius: 25%;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .button:hover {
        background-color: #333;
        color: #fff;
    }
</style>

{% endblock content %}
