{% extends 'base.html' %}
{% load static %}
{% block content %}
     <!-- section 1 hero banner slider   -->
     <div class="banner">
        <div class="slider" style="--quantity: 10">
          <div class="item" style="--position: 1">
            <img src="static/images/jeongyoeb-han-0012.jpg" alt="" />
          </div>
          <div class="item" style="--position: 2">
            <img src="static/images/jeongyoeb-han-0014.jpg" alt="" />
          </div>
          <div class="item" style="--position: 3">
            <img src="static/images/jeongyoeb-han-0015.jpg" alt="" />
          </div>
          <div class="item" style="--position: 4">
            <img src="static/images/jeongyoeb-han-0025.jpg" alt="" />
          </div>
          <div class="item" style="--position: 5">
            <img src="static/images/jeongyoeb-han-0048.jpg" alt="" />
          </div>
          <div class="item" style="--position: 6">
            <img src="static/images/jeongyoeb-han-00488.jpg" alt="" />
          </div>
          <div class="item" style="--position: 7">
            <img
              src="static/images/jeongyoeb-han-cyberfiction-pf-t-0111.jpg"
              alt=""
            />
          </div>
          <div class="item" style="--position: 8">
            <img
              src="static/images/jeongyoeb-han-cyberfiction-pf-t-0222.jpg"
              alt=""
            />
          </div>
          <div class="item" style="--position: 9">
            <img
              src="static/images/jeongyoeb-han-cyberfiction-pf-t-033.jpg"
              alt=""
            />
          </div>
          <div class="item" style="--position: 10">
            <img
              src="static/images/jeongyoeb-han-cyberfiction-pf-t-0333.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="content">
          <h1 data-content="NFT"></h1>
          <div class="author">
            <h2>Hidden Brush</h2>
            <p><b>Hidden Brush</b></p>
            <a
              href="{% url 'login' %}"
              class="btn btn-outline-dark"
              target="_blank"
              style="border-radius: 25%;"
              >Login</a
            >
          </div>
          <div class="model"></div>
        </div>
      </div>

       <!-------------section 2 art  ------------>
    <div class="art-one mt-5">
      <div class="container">
          <div class="row row-text">
          <div class="col-sm-6 art-text-one">
              <h2 class="text-center text-dark" style="
              margin-top: 150px;
          ">Art One</h2>
              <ul>
                  <li></li>
                  <li></li>
              </ul>
              <a href="{% url 'gallery' %}" class="btn btn-outline-dark mb-3">View Gallery</a>
          </div>
          <div class="col-sm-6">
              <img src="static/images/1.png" class="img-fluid " alt="">
          </div>
          </div>
      </div>
  </div>
  <!-------------section 3 adult ------------>
  <section class="art-two mt-5">
      <div class="container">
          <div class="row">
          <div class="col-sm-6">
              <img src="static/images/4.png" class="img-fluid " alt="">
          </div>
          <div class="col-sm-6 art-text-two" style="
          margin-top: 150px;
      ">
              <h2 class="text-center text-dark mt-3">Art Two</h2>
              <ul>
                  <li></li>
                  <li></li>
                  <li></li>
              </ul>
              <a href="{% url 'gallery' %}" class="btn btn-outline-dark mb-3" >View Gallery</a>
              
          </div>
          </div>
      </div>
  </section>
{% endblock %}