{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h2>Update Image</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group update-image-image">
      <label for="{{ form.image.id_for_label }}">Image</label>
      {{ form.image }}
    </div>
    <div class="form-group update-image-title">
      <label for="{{ form.title.id_for_label }}">Title</label>
      {{ form.title }}
    </div>
    <div class="form-group update-image-description">
      <label for="{{ form.description.id_for_label }}">Description</label>
      {{ form.description }}
    </div>
    <button type="submit">Update Image</button>
  </form>
{% endblock %}