{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="form-container">
    <div class="form-box">
        {% if user.is_authenticated and user == image.user %}
        <h2>Update Image</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group update-image-image">
                <label for="{{ form.image.id_for_label }}">Image</label>
                {{ form.image }}
            </div>
            <div class="form-group update-image-title">
                <label for="{{ form.title.id_for_label }}">Title</label>
                {{ form.title }}
            </div>
            <div class="form-group update-image-description">
                <label for="{{ form.description.id_for_label }}">Description</label>
                {{ form.description }}
            </div>
            <button type="submit" class="button btn btn-outline-dark">Update Image</button>
        </form>
        <a href="{% url 'gallery' %}" class="mx-3 my-2 button btn btn-outline-dark">Back</a>
        <a href="{% url 'delete_image' image.id %}" target="_self" class="btn btn-outline-dark">
            <i class="fa-regular fa-trash-can"></i>
        </a>

        {% else %}
        <h1>Forbidden</h1>
        <p>You are not authorized to update this image.</p>
        {% endif %}
    </div>
</div>
<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        /* Full height to center the content */
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .form-box {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;
        text-align: left;
    }

    .form-group label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .button {
        border-radius: 25%;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .button:hover {
        background-color: #333;
        color: #fff;
    }
</style>
{% endblock %}